.idea/**/workspace.xml
**/out/
*.class
**/.git_backup_calculadora/

### IntelliJ IDEA ###
.idea/**/shelf/
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/contentModel.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
